{{>layout/header}}

<main class="container">
    <div class="p-4 p-md-5 mb-4 border text-black rounded bg-white">
        <div class="d-flex flex-column justify-content-center">
            <h1 class="display-4 font-italic" id="board_name" val="kub">{{board_name}} Diary</h1>
            <form id="hidden_form">
            <input type="hidden" id="hidden_board_name" value="{{board_name}}" readonly="readonly">
            </form>
            {{#current_post}}
                <article class="blog-post" id="blog-post">
                    <hr>
                    <h2 class="blog-post-title" id="post-title">{{title}}</h2>
                    <p class="blog-post-meta">{{createdDate}} by {{author}}</p>
                    <p>
                        {{#content}}
                            {{.}}<br>
                        {{/content}}
                    </p>
                </article>
            {{/current_post}}
            <hr>
            <table class="table">
                <thead class="thead-strong">
                <tr class="table-primary">
                    <th style="width: 5%">#</th>
                    <th style="width: 50%">Title</th>
                    <th style="width: 15%">Author</th>
                    <th style="width: 30%">Updated</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
            <div id="pageDiv">
            </div>
            <div class="p-4">
                <a href="/it/board/posting/{{board_name}}" class="btn btn-primary active" role="button">投稿する</a>
            </div>
        </div>
    </div>
</main><!-- /.container -->

<script src="/js/app/board.js"></script>
{{>layout/footer}}