{{>layout/header}}
<main class="container">
    <div class="p-4 p-md-5 mb-4 border text-black rounded bg-white">
        <div class="d-flex flex-column justify-content-center">
            <h1 class="display-4 font-italic">{{board_name}}に投稿する</h1>
            <hr>
            <form action="/it/board/posting" method="post">
                <input type="hidden" id="boardName" name="boardName" value="{{board_name}}">
                <input type="hidden" id="current_page" name="current_page" value="{{current_page}}">
                {{#post}}
                    <input type="hidden" id="id" name="id" value="{{id}}">
                    <div class="shadow p-3 mb-3 bg-body rounded">
                        <input type="text" class="form-control" id="title" name="title" value="{{title}}">
                    </div>
                    <div class="shadow p-3 mb-3 bg-body rounded">
                        <label for="contentArea" class="form-label">本文</label>
                        <textarea class="form-control" id="content" name="content" rows="10">{{content}}</textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary active" value="Post"/>
                        <a href="/it/board/list/{{board_name}}?bno={{id}}&page={{current_page}}"class="btn btn-secondary">Cancel</a>
                    </div>
                {{/post}}
                {{^post}}
                    <div class="shadow p-3 mb-3 bg-body rounded">
                        <input type="text" class="form-control" id="title" name="title" placeholder="タイトル">
                    </div>
                    <div class="shadow p-3 mb-3 bg-body rounded">
                        <label for="contentArea" class="form-label">本文</label>
                        <textarea class="form-control" id="content" name="content" rows="10"></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary active" value="Post"/>
                        <a href="/it/board/list/{{board_name}}?page={{current_page}}"class="btn btn-default">Cancel</a>
                    </div>
                {{/post}}
            </form>
        </div>
    </div>
</main><!-- /.container -->
<script src="/js/app/posting.js"></script>
{{>layout/footer}}