{{>layout/header}}
<main class="container">
    <div class="p-4 p-md-5 mb-4 border text-black rounded bg-white">
        <div class="d-flex flex-column justify-content-center">
            <h1 class="display-4 font-italic">Kubernetes 日記</h1>
            <table class="table">
                <thead class="thead-strong">
                <tr class="table-primary">
                    <th style="width: 5%">#</th>
                    <th style="width: 50%">Title</th>
                    <th style="width: 15%">Author</th>
                    <th style="width: 30%">Updated</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#posts}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                        <td>{{author}}</td>
                        <td>{{modifiedDate}}</td>
                    </tr>
                {{/posts}}
                </tbody>
            </table>
        </div>
    </div>
</main><!-- /.container -->
{{>layout/footer}}